@font-face {
    font-family: 'Segoe Print';
    src: url('../font/SEGOEPRTTF') format('regular');
    src: url('../font/SEGOEPRB.TTF') format('bold');
}

@font-face {
    font-family: 'TC Pen';
    src: url('../font/TCTHINPEN.ttf') format('regular');
    src: url('../font/TCMIDDLEPEN.ttf') format('bold');
}